.contact-main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  
  .contact-text {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
  }
  
  .accent-text {
    color: #BC3A80;
  }
  
  .contact {
    background-color: #202027;
    width: 50vw;
    max-width: 50%;
    padding: 2rem 4rem;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: .5rem;
  }
  
  @media (max-width: 900px) {
    .contact-main-section {
      flex-direction: column;
      justify-content: center;
    }
  
  }
  
  .contact-page-circle-1 {
    position: absolute;
    overflow: hidden;
    width: 35vw;
    height: 35vw;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .contact-page-circle-1::before {
    content: '';
    transform: translateX(-20%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(188, 58, 128, .1);
  }
  
  .contact-page-circle-2 {
    position: absolute;
    overflow: hidden;
    width: 30vw;
    height: 30vw;
    top: 0;
    left: 20vw;
    z-index: -1;
  }
  
  .contact-page-circle-2::before {
    content: '';
    transform: translateY(-30%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(52, 87, 178, .1);
  }