@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(46, 56, 112, 0.596);
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
}

img{
  max-width: 50px;
  height: auto;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.brand-logo-name {
  float: left;
  text-align: left;
  margin-left: 1rem;
}

.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a{
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover {
  color: #adadad;
}

.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  height: 140px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.title {
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 1rem;
  margin-top: 0;
  margin-left: 1rem;
}

.subtitle {
  text-align: justify;
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.btn {
    color: white;
    background-color: #1762A7;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
  }
  
  .btn:hover {
    background-color: #2180d8;
  }
  
  .btn:focus {
    background-color: #2796ff;
  }